<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Jaime Simental</h1>
		<p>Apasionado por la música y la tecnología. 23 años. 
		Front end developer, músico frustrado y amante de la buena compañía.<br>
		sígueme en twitter <a href="https://twitter.com/jaimesimental">@jaimesimental</a>.
		</p>
	</div>
</div>