<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Jaime Simental</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
		Incidunt officia fugit doloremque optio et commodi, aliquid ipsam odio 
		in sed molestiae soluta est, eligendi praesentium quos, nulla ut dolor accusamus.</p>
	</div>
</div>